
sfg/obj/Debug/main.o
sfg/sfg.cbp
sfg/sfg.layout
sfg/bin/Debug/sfg.exe
.DS_Store
Code/Paralllelll.xcodeproj/project.pbxproj
Code/Paralllelll.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Code/Paralllelll.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Code/Paralllelll.xcodeproj/xcuserdata/giannisloudaros.xcuserdatad/xcschemes/xcschememanagement.plist
Code/Paralllelll.xcodeproj/project.xcworkspace/xcuserdata/giannisloudaros.xcuserdatad/UserInterfaceState.xcuserstate
